@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Testimonial CSS */
.testimonial-slide {
  opacity: 1;
  z-index: 10;
}

.slide-in-right {
  animation: slideInRight 0.4s forwards;
}

.slide-in-left {
  animation: slideInLeft 0.4s forwards;
}

.slide-out-left {
  animation: slideOutLeft 0.4s forwards;
  z-index: 5;
}

.slide-out-right {
  animation: slideOutRight 0.4s forwards;
  z-index: 5;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%)
  }

  to {
    transform: translateX(0)
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(0)
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-100%)
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(100%)
  }
}